.root {
    background-image: url(../../../../assets/board.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vw / 1.71);
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 40px;
}

.btn{
    /*width: 100%;*/
    font-family: Overlock;
    max-width: 300px;
    padding: 1rem;
    border: 1px solid #f300b4;
    border-radius: 8px;
    color: #59e009;
    background-color: #f300b4;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: #98d7a5;
}

.btnWrapper {
    text-align: center;
    padding: 2rem;
}

.btn:hover, .btn:active {
    border: 1px solid #872068;
    transform: translateY(-2px);
    box-shadow: 0 10px 100px -20px #f30039;
}

.card {
    width: 280px;
    height: 380px;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 40px;
}